<header>
    <h3 class="overviewTitle"><strong>Overview</strong></h3>
    <div class="rightHeader">
        <div class="itemsRightHeader">
            <input type="text" id="inputSearchHeader" placeholder="Search" class="invisible d-none">
            <i class="fas fa-search" id="fa-searchHeader"></i>
            <i class="far fa-bell" id="fa-bellHeader"></i>
            <div id="transparentContentForNotification" class="invisible"></div>
            <div class="contentNotificationHeader invisible d-none">
                <h3>Notifications</h3>
                <ul>
                    <li>Change last commit</li>
                    <li>Lorem ipsum dolor sit amet...</li>
                    <li>Lorem ipsum dolor sit amet...</li>
                    <li>Lorem ipsum dolor sit amet...</li>
                    <li>Lorem ipsum dolor sit amet...</li>
                </ul>
            </div>
        </div>
        <div class="accountHeader">
            <div class="nameAccountHeader"><p>Vinicius Blazius</p></div>
            <i class="fas fa-sign-in-alt"></i>
        </div>
    </div>
</header>

<script src="header.js"></script>