<nav>
    <div class="contentNav">

        <a href="/overview" class="headerNav">
            <i class="fas fa-home"></i>
            <h4 class="m-0">Dashboard Kit</h4>
        </a>

        <div class="mainContentNav">

            <a href="/overview" class="navOption">
                <i class="fas fa-align-left"></i>
                <h4 class="m-0">Overview</h4>
            </a>
            <a href="/tickets" class="navOption">
                <i class="fas fa-ticket-alt"></i>
                <h4 class="m-0">Tickets</h4>
            </a>
            <a href="/ideas" class="navOption">
                <i class="fas fa-lightbulb"></i>
                <h4 class="m-0">Ideas</h4>
            </a>
            <a href="/contacts" class="navOption">
                <i class="fas fa-user-friends"></i>
                <h4 class="m-0">Contacts</h4>
            </a>
            <a href="/agents" class="navOption">
                <i class="fas fa-user-shield"></i>
                <h4 class="m-0">Agents</h4>
            </a>
            <a href="/articles" class="navOption">
                <i class="far fa-newspaper"></i>
                <h4 class="m-0">Articles</h4>
            </a>
        </div>

        <div class="secondaryContentNav">
            <a href="/settings" class="navOption">
                <i class="fas fa-cog"></i>
                <h4 class="m-0">Settings</h4>
            </a>
            <a href="/subscription" class="navOption">
                <i class="fas fa-medal"></i>
                <h4 class="m-0">Subscription</h4>
            </a>
        </div>
    </div>
</nav>
