<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %> 
<body>

    <!-- Menu de navegação-->
    <%- include('../partials/nav'); %> 
    <!-- Menu de navegação-->

    <!-- Conteudo main da pagina em questão-->
    <div class="contentMainOverview">

        <!--Header da pagina em questão-->
        <%- include('../partials/header')  %> 
        <!--Header da pagina em questão-->
    
        <main>

            <div class="contentMainOverviewPadding">


                <div class="ContentMainOverviewTop">

                    <div class="ContentMainOverviewTopLeft">

                        <div class="boxsTopsMainOverview">
                            <div class="contentBoxsTopsMainOverview">
                                <p class="m-0">Unresolved</p>
                                <h2 class="numberContentBoxsTopsMainOverview m-0">60</h2>
                            </div>
                        </div>
    
                        <div class="boxsTopsMainOverview">
                            <div class="contentBoxsTopsMainOverview">
                                <p class="m-0">Overdue</p>
                                <h2 class="numberContentBoxsTopsMainOverview m-0">16</h2>
                            </div>
                        </div>

                    </div>

                    <div class="ContentMainOverviewTopRight">

                        <div class="boxsTopsMainOverview">
                            <div class="contentBoxsTopsMainOverview">
                                <p class="m-0">Open</p>
                                <h2 class="numberContentBoxsTopsMainOverview m-0">43</h2>
                            </div>
                        </div>
    
                        <div class="boxsTopsMainOverview">
                            <div class="contentBoxsTopsMainOverview">
                                <p class="m-0">On hold</p>
                                <h2 class="numberContentBoxsTopsMainOverview m-0">64</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ContentMainOverviewBottom">


                    <div class="divContentMainOverviewBottomLeft">

                        <div class="ContentMainOverviewBottomLeft">

                            <div class="HeaderMainOverviewBottomLeft">

                                <div class="TopHeaderMainOverviewBottomLeft">
                                    <h4 class="m-0">Unresolved tickets</h4>
                                    <p class="m-0">View details</p>
                                </div>
    
                                <div class="BottomHeaderMainOverviewBottomLeft">
                                    <p class="m-0">Group:<span class="m-0"> Support</span></p>
                                </div>
                            </div>

                            <div class="optionsMainOverviewBottomLeft">

                                <div class="optionMainOverviewBottomLeft">
                                    <p>Waiting on Feature Request</p>
                                    <p class="m-0">4238</p>
                                </div>

                                <div class="optionMainOverviewBottomLeft">
                                    <p>Awaiting Customer Response</p>
                                    <p class="m-0">1005</p>
                                </div>

                                <div class="optionMainOverviewBottomLeft">
                                    <p>Awaiting Developer Fix</p>
                                    <p class="m-0">914</p>
                                </div>

                                <div class="optionMainOverviewBottomLeft">
                                    <p>Pending</p>
                                    <p class="m-0">281</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="divContentMainOverviewBottomRight">

                        <div class="ContentMainOverviewBottomRight">
                            
                            <div class="HeaderMainOverviewBottomRight">

                                <div class="TopHeaderMainOverviewBottomRight">
                                    <h4 class="m-0">Tasks</h4>
                                    <p class="m-0">View all</p>
                                </div>
    
                                <div class="BottomHeaderMainOverviewBottomRight m-0">
                                    <p>Today</p>
                                </div>
                            </div>

                            <div class="optionsMainOverviewBottomRight">

                                <div class="optionMainOverviewBottomRight">
                                    <input type="text" class="createTaskOverview" size="20px" placeholder="Create new task">
                                    <i class="far fa-plus-square"></i>
                                </div>

                                <div class="optionMainOverviewBottomRight">

                                    <div class="contentOptionMainOverviewBottomRight">
                                        <div class="purple customcb">
                                            <input type="checkbox" value="1" id="customcb1" name="" />
                                            <label class="inner" for="customcb1"></label>
                                            <label class="outer" for="customcb1"></label>
                                        </div>
                                        <p class="m-0">Finish ticket update</p>
                                    </div>

                                    <p class="statusTaskOverviewURGENT m-0">URGENT</p>
                                </div>

                                <div class="optionMainOverviewBottomRight">

                                    <div class="contentOptionMainOverviewBottomRight">
                                        <div class="purple2 customcb2">
                                            <input type="checkbox" value="2" id="customcb2" name="" />
                                            <label class="inner2" for="customcb2"></label>
                                            <label class="outer2" for="customcb2"></label>
                                        </div>
                                        <p class="m-0">Create new ticket example</p>
                                    </div>
                                    
                                    <p class="statusTaskOverviewNEW m-0">NEW</p>
                                </div>

                                <div class="optionMainOverviewBottomRight">

                                    <div class="contentOptionMainOverviewBottomRight">
                                        <div class="purple3 customcb3">
                                            <input type="checkbox" value="3" id="customcb3" name="" />
                                            <label class="inner3" for="customcb3"></label>
                                            <label class="outer3" for="customcb3"></label>
                                        </div>
                                        <p class="m-0">Update ticket report</p>
                                    </div>
                                    
                                    <p class="statusTaskOverviewDEFAULT m-0">DEFAULT</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Conteudo main da pagina e questão-->
<body>
</html>